@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

html, body {
  height: 100%;
  color: #fff;
  font-family: Georgia;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
}

.bg-video {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex: 1 1 auto;
  overflow: hidden;
}

.header__page {
  position: absolute;
  width: 100%;
}

.header__container {
  padding-top: 10px;
}

.header__ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.header__link {
  font-family: inherit;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.main__page {
  display: flex;
  flex: 1 1 auto;
}

.start__page {
  padding-top: 200px;
  display: flex;
}

.start__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.start__subtitle {
  margin-bottom: 100px;
}

.start__slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 365px;
}

.slider__left {
  top: 35%;
  left: -100px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 20px solid #ffffff;
}

.slider__rigth {
  top: 35%;
  right: -100px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 20px solid #ffffff;
}

.slider__link {
  position: absolute;
  transition: all ease 1s;
  top: 0;
}
.slider__link img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  .start__slider {
    width: 450px;
  }
  .slider__rigth,
.slider__left {
    top: 25%;
  }
}
@media (max-width: 768px) {
  .start__slider {
    width: 256px;
  }
  .slider__rigth,
.slider__left {
    top: 10%;
  }
  .slider__left {
    left: -50px;
  }
  .slider__rigth {
    right: -50px;
  }
}
@media (max-width: 500px) {
  .header__ul {
    flex-direction: column;
    gap: 5px;
  }
  .start__slider {
    width: 256px;
  }
  .slider__left {
    left: -30px;
  }
  .slider__rigth {
    right: -30px;
  }
}/*# sourceMappingURL=style.css.map */